@media (max-width: 1024px) {
    .header-right {
        margin-right: 30px;
    }
    
    .header-right li{
        margin: 35px 3px;
        padding: 8px 10px;
        font-size: 16px;
    }

    .maintop-wrapper {
        height: 460px; 
        background-image: url(classroom.jpg);
        background-size: cover; 
        position: relative;
      }

    .maintop-wrapper img {
        position: absolute;
        top: 130px;
        left: 120px;
        width: 80%;
      }

    .mainbottom-wrapper {
        height: 23em;
        background-color: #acce00;
        position: relative;
      }

      .mainbottom-wrapper .btn {
        font-size: 17px;
        width: 15%;
        padding:40px 15px;
        left: 50%;
        bottom: 50%; 
        position: absolute; 
    }
}


@media (max-width: 670px) {

    header {
        height: 180px;
        width: 100%;
        background-color: #acce00;
      }
      
    .logo-header {
        height: 80px;
    }
    
    .header-right li{
        padding: 6px 7px;
        font-size: 10px;
    }

    .menu-icon {
        display: block; 
        justify-content: center; 
    }

   .clear {
       clear: right;
   }

    .maintop-wrapper {
        height: 220px; 
        background-image: url(classroom.jpg);
        background-size: cover; 
        position: relative;
      }

    .maintop-wrapper img {
        position: absolute;
        top: 50px;
        left: 0px;
        width: 100%;
        z-index: 10;
      }

    .mainbottom-wrapper {
        position: relative; 
        height: 15em;
        width: 100%;
        background-color: #acce00;
        display: flex;
      }

    .mainbottom-wrapper .btn {
        position: absolute; 
        display: block;
        background-color: #f09901 ;
        border: 5px solid #eed102;
        color: white;
        font-size: 13px;
        text-align: center;
        justify-content: center; 
        width: 75%;
        padding:10px 15px;
        margin: 30px auto; 
        border-radius: 10%;
        box-shadow:     
          inset 0 2px 3px rgba(12, 10, 10, 0.3),
          inset 0 -2px 3px rgba(0,0,0,0.3),
          0 1px 1px rgba(255,255,255,0.9);
    }

    footer {
        height: 100px;
        width: 100%;
      }
      
      .footer-left {
        float: none;
        padding: 5px 10px;
      }
      
      .logo-footer {
        height: 20px;
        margin: 5px 0;
      }
      
      .footer-left span {
        font-size: 10px;
        color: #acce00;
        display: inline-block;
      }
      
      .footer-right {
        float: none;
        padding: 0px 35px;
      }
      
      .footer-right li {
        display: inline-block;
        margin: 20px 10px;
      }
      
      .footer-right li a {
        color: #acce00;
      }
}
